.SetterCardBackground.invisible{
    display: none;
}

.SetterCardBackground.visible{

    position: fixed;
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, 0.781);
    z-index: 5;

    display: grid;

    .SetterCard{

        background: rgb(23, 28, 31);
        place-self: center center;
        border: 1px solid white;
        padding: 1.5rem;
        border-radius: 1rem;
        font-size: 1.2rem;
        font-weight: bold;
        min-width: 30%;

        .optionRow{

            display: flex;
            margin-top: 2rem;

            button{
                flex-grow: 1;
                background: rgba(0, 0, 0, 0);
                border: 1px solid rgba(255, 255, 255, 0.185);
                color: white;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                font-weight: bold;
                transition: background 0.1s, color 0.1s;
            }

            button.selected {
                border: 1px solid white;
            }
    
            button:hover {
                background: white;
                color: rgba(0, 0, 0, 0.795);
                cursor: pointer;
            }

        }

        .inputform{

            margin-top: 1rem;
            display: flex;
            flex-direction: column;

            .inputRow{

                display: none;

                input {
                    background: rgba(0, 0, 0, 0);
                    color: white;
                    border: 2px solid white;
                    border-radius: 0.5rem;
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                    font-weight: bold;
                    flex-grow: 1;
                }

                select {
                    background: rgba(0, 0, 0, 0);
                    color: white;
                    border: 2px solid white;
                    border-radius: 0.5rem;
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                    padding-left: 0.5rem;
                    padding-right: 0rem;
                    margin-left: 1rem;
                    font-weight: bold;
                    cursor: pointer;
                }
            }

            .inputRow.visible {
                display: flex;
            }

            

        }

        .buttons {

            margin-top: 2rem;
            display: flex;
            justify-content: flex-end;

            button {
                background: rgba(0, 0, 0, 0);
                color: white;
                border: 2px solid white;
                margin-left: 0.5rem;
                border-radius: 0.5rem;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                padding-left: 1rem;
                padding-right: 1rem;
                font-weight: bold;
                transition: background 0.1s, color 0.1s;
            }

            button:hover{
                background: white;
                color: rgba(0, 0, 0, 0.795);
                cursor: pointer;
            }

        }
    }

}