.Sun:hover{
    cursor: pointer;
}

.Sun{

    color: black;
    height: 60rem;
    width: 60rem;
    border-radius: 30rem;

    margin-left: -1.4rem;
    margin-top: -50rem;

    @media screen and (max-width: 1450px) {
        margin-left: -6rem;
    }

    @media screen and (max-width: 1170px) {
        margin-left: -11rem;
    }

    @media screen and (max-width: 950px) {
        margin-left: -14rem;
    }

    @media screen and (max-width: 920px) {
        margin-left: -16rem;
    }

    @media screen and (max-width: 700px) {
        margin-left: -18rem;
    }

    @media screen and (max-width: 500px) {
        margin-left: -24rem;
    }

    display: grid;
    grid-template-columns: 3fr 4fr;

    .details {

        grid-column: 2/3;
        place-self: end start;
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 3rem;
        text-align: left;

        display: flex;
        flex-direction: column;

        span{
            margin: 0;
            line-height: 2rem;
        }

    }

}