.InfoCard {

    max-width: 60%;
    margin-top: 8rem;

    h1 {
        color: rgba(255, 255, 255, 0.219);
    }

    p {
        color: rgba(255, 255, 255, 0.877);
        font-size: 1.1rem;
        font-family: 'Josefin Sans', sans-serif;
        line-height: 1.5rem;
    }
}