.InfoCard {


    position: fixed;
    top: 12rem;
    left: 59.7vw;
    padding-right: 1rem;

    @media screen and (max-width: 1100px) {
        top: 12rem
    }

    @media screen and (max-width: 640px) {
        top: 12rem
    }

    h1 {
        color: rgba(255, 255, 255, 0.5);
        font-style: italic;
    }

    p {
        color: rgba(255, 255, 255, 0.877);
        font-size: 1.1rem;
        font-family: 'Josefin Sans', sans-serif;
        line-height: 1.5rem;
    }
}