.BiSettings {

    margin-bottom: 2rem;

    .title {
        font-size: 1.1rem;
        font-weight: bold;
    }

    .buttons{
        width: 100%;
        display: flex;

        button {
            flex-grow: 1;
            background: rgba(0, 0, 0, 0);
            border: 1px solid rgba(255, 255, 255, 0.185);
            color: white;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            font-weight: bold;
            transition: background 0.1s, color 0.1s;
        }

        button.selected {
            border: 1px solid white;
        }

        button:hover {
            background: white;
            color: rgba(0, 0, 0, 0.795);
            cursor: pointer;
        }

    }

}