.SettingsBg.visible{
    position: fixed;
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, 0.781);
}

.SettingsBg.invisible{
    display: none;
}

.SettingsCard{

    position: fixed;
    border: 1px solid white;
    border-radius: 1rem;
    padding: 1.5rem;
    top: 25rem;
    left: 59.7vw;
    width: 25%;
    background: rgb(23, 28, 31);

    @media screen and (max-width: 800px) {
        display: none;
    }

    h2 {
        margin-top: 0;
        color: rgba(255, 255, 255, 0.5);
    }

}

.SettingsCard.floating {
    @media screen and (max-width: 800px) {
        display: initial;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        width: 80vw;
    }
}