@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

body,html {
  position: relative;
  overflow-x: hidden;
}

body{
  
  margin: 0;
  padding: 0;

  font-family: 'Saira Extra Condensed', sans-serif;

  background: rgb(23, 28, 31);
  color: white;

}